#mySidenav{
  margin-top: 68px;
}

.nav-link{
    
    font-size: 11px;
    padding: 10px 10px;
    margin: 0px 5px;
    color:#bdbdbd;
    display: block;
    text-align: center;
    font-weight: bolder;
   
}

.btn{
    margin-left: auto;;
}
 
.search {
    width: 70%;
    margin-right: 40px;
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 10px;
    height: 36px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }
  
  .searchTerm:focus{
    color: #00B4CC;
  }
  
  .searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  .biglogo-space{
    padding: 30px;
  }
  .biglogo{
    align-items: center;
  }
  /*Resize the wrap to see the search bar change!*/
  .wrap{
    width: 90%;
    position: absolute;
    left: 40%;
    
  }
h4{
  margin-top: -10px;
  padding: 20px;
}


  .sidenav {
    
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top:60px;
    
   
  }
  
  .sidenav a {
    padding:8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav-content a:hover {
    background-color :#26A65B;

  }
  .sidenav-content a{
    font-size: 16px;
    color: black;
    font-weight: bold;
    
   
  
  }
  .sidenav-a{
    color: inherit;
    text-decoration: inherit;
    
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
      
    margin-top: -24px;
    padding: 16px;
    font-size: 14px;
  }
  .openbtn{
    padding: 4px;
    margin-left: 6px;
  }
 
  .main-font{
    font-size: 16px;
  }
  .sidenav h5{
    margin-top: 2px; 
    margin-right:auto;
    padding: 10px;
    color: white;
    background-color:red;
  }



  .footer-line{
    color: gray;
    font-size: 22px;
    text-align: center;
    padding: 10px;
  }
  .footer-line span{
    color: orange;
    font-size: 25px;
  }
   .footer {
    background-color: #263238;
  }
  
  .footer-font-color a {
    color: gray;
  }
  .tools{
    color: white;
  }
  
  
  
  #head {
    color: #ffffff;
  }

.contain {
  background-color: #f5f5f5;
}

.down {
  background-color: white;
}

#icon-2 {
  margin-left: 15px;
}

#subject {
  color: white;
}

.button1 {
  padding: 30px;
  display: flex;
  margin-left: 170px;
}
.button1 button{
  border-radius: 0%;
}

.price {
  float: right;
  background: none repeat scroll 0% 0% rgb(255, 255, 255);
  color: #333;
  /* margin-top: 110px; */
  margin-right: -35px;
  padding: 6px 12px;
  font-size: 10px;
  border-radius: 4px 0px 0px 4px;
}

#date {
  color: #dd2c00;
  margin-left: 50px;
}

.flex {
  display: flex;
}
